.app-userNav-box{
    background:#fff;
    color: #555;
    nav{  
    .order {
        background: rgba(255, 0, 0, 0);
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        a {
          display: block;
          width: 33%;
          height: .829rem;
          color: #585c64;
          span.iconbg {
            display: inline-block;
            width: 0.379rem;
            height: 0.379rem;
            background-color: #fcf9f1;
            border-radius: 50%;
            margin: 0.1rem 0 0;
            img{
                width:60%;height: 60%;
                display: block;
                margin:7px auto 0;
            }
          }
          p {
              font-size:.12rem;
            text-align: center;
          }
        }
      }
    }
}