.app-Countdown-box {
    height: 2.16rem;
    background: url(/img/mst_c75f4f7bc42d800100c1c53c2bfba2c9.jpg)no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    .count {
        position: absolute;
        top: .5rem;
        left: .83rem;
        display: flex;
        font-size: 0.14rem;
        color: #000;

        span {
            margin: 0 0.1rem;
        }

        .countDown {
            span {
                margin: 0;
            }
        }
    }

    .countShop {
        position: absolute;

        top: .81333rem;
        width: 100%;

        ul {
            display: flex;
            overflow: hidden;
            width: 100%;
            justify-content: space-around;

            li {

                img {
                    width: .7rem;
                    height: .7rem;
                    display: block;
                    margin: 0 auto;
                }

                span {
                    font-size: 0.1rem;
                }

                .kqj {
                    margin-right: -.4rem;
                    overflow: hidden;
                    background-color: rgb(222, 61, 150);
                    font-size: 0.11rem;
                    padding: 0 .02rem;
                    color: rgb(255, 255, 255);
                    text-align: center;
                    white-space: nowrap;
                    position: absolute;
                    display: block;
                    margin-bottom: 0.3rem;
                }

                .price {
                    margin-left: 0.02rem;

                    overflow: hidden;
                    font-size: 0.13rem;
                    color: rgb(0, 0, 0);
                    line-height: 120%;
                    text-align: left;
                    white-space: nowrap;
                    position: absolute;
                    display: inline-block;
                }

                .yprice {
                    z-index: 45;
                    top: .9rem;
                    width: 1rem;
                    height: 0.346667rem;
                    overflow: hidden;
                    font-size: 0.13rem;
                    color: rgb(152, 152, 159);
                    text-decoration: line-through;
                    text-align: left;
                    white-space: nowrap;
                    position: absolute;
                    display: block;
                }

                #cartJoin {
                    position: absolute;
                    bottom: -1rem;

                    z-index: 10001;
                    margin-left: 0.9rem;
                    font-size: 0.1rem;
                }
            }
        }
    }

}